<!DOCTYPE html>
<html>
<head>
	<title>模板测试</title>
	<link rel="stylesheet" type="text/css" href="{{static_url("css/css.css")}}">
</head>
<body>
	<h4>传递进来数据：</h4>
	<h5>
		num=10<br>
    	par={"name":"root","pwd":"admin"}<br>
    	ls=["abc",100,"def"]<br>
    </h5>
    -------------------------取参数----------------------------<br>
	<h4>[num] : {{num}}</h4>
	<h4>[par] : {{par}}</h4>
	<h4>[par["name"]] : {{par["name"]}}</h4>
	<h4>[ls] : {{ls}}</h4>
	<h4>[ls[0]] : {{ls[0]}}</h4>
	--------------------------表达式for----------------------------<br>
	{% for i in range(5,10) %}
	<h3>{{i}}</h3>
	{%end%}
	--------------------------传递进来的函数----------------------------<br>
	<h4>mySum(100,200) ： {{mySum(100,200)}}</h4>
	--------------------------自动转义测试----------------------------<br>
	1、（本文档中关闭了自动转义所以看不到效果）直接使用变量会自动转义为string类型：{{str1}}<br>
	2、在变量前加raw会禁止<b>本次</b>输出的自动转义：{%raw str1%}<br>
	3、关闭了本文档的自动转义：{%autoescape None%}<br>
	4、使用escape()转义：{{escape(str1)}}<br>
	--------------------------继承测试----------------------------<br>
	<a href='/extends'>模板继承测试</a>
</html>