<html>
	<head>
		<script type="text/javascript" src="{{static_url('js/jquery-3.3.1.min.js')}}"></script>
		<script language="javascript">
		function getXsrf(name){
            var cook=document.cookie.match("\\b"+name+"=([^;]*)\\b")
            return cook ? cook[1] : undefined
        }
		function login() {
			$.ajax({
				url:"/ajaxxsrf",
				method:"POST",
				// dataType: "json",   //如果使用这句话，服务器必须返回json类型数据，否则回调函数不执行
				data:{
				"username":"admin",
				"password":"123456"
				},
				success:function(data){					
					document.getElementById('res').innerHTML= data;
				},
				headers:{
					"X-XSRFToken":getXsrf("_xsrf"),
				},
			})
		}
	</script>
	</head>
	<body>
		姓名：<input type="text" name="username">
		<br>
		密码：<input type="password" name="password">
		<br>
		<button onclick="login()">ajax提交</button>
		<br>
		<label id="res"></label>
	</body>

</html>